/* Reset some default browser styling */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-smoothing: antialiased;
}

/* Typography */
h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}


body {
    background-image: linear-gradient(135deg, #001f3f 0%, #003366 50%, #001f3f 100%);
    font-family: 'Open Sans', sans-serif;
    color: #ffffff; /* White text */
    margin: 0;
    padding: 5px 0;
    font-size: 16px;
    line-height: 1.6;
    background-color: #001f3f; /* Dark navy background */
    overflow-x: hidden;

}

body {
    /* Other styles remain the same */
}

a {
    color: #ffffff; 
    text-decoration: none;
    transition: color 0.3s; 
}

a:hover {
    color: #66b2ff; /* Brightened navy on hover */
}

h1, h2, h3 {
    font-weight: 300; /* Lighter font weights */
}


header {
    background-color: #003366;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


nav {
    background-color: #003366; /* You can adjust this color if needed */
    padding-top: 20px; /* Increase padding-top for more space */
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
    flex-wrap: wrap; /* this will allow items to wrap to the next line on small screens */
}

.nav-list li {
    margin: 0 20px; /* Increased space for better legibility */
}

.intro {
    padding: 10px;
}

/* Remove the breaks and handle the spacing with margin */
.intro p {
    margin-bottom: 1px;
}

.nav-list a {
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.nav-list a:hover, .nav-list a.active {
    background-color: #66b2ff; /* Brightened navy on hover */
    color: #fff;
}

main {
    max-width: 1200px;
    margin: 30px auto; /* Reduced from 80px */
    padding: 0 20px;
    overflow: hidden;
}

.about-intro {
    display: flex;
    align-items: center; 
    gap: 30px;
}

.about-intro .profile-section {
    flex: 0 0 150px; 
}

.about-intro .profile-pic {
    width: 100%; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid navy; 
}

.about-intro .profile-text {
    flex: 1; 
}

.service-card, .faq-item {
    background-color: #002b5e; /* A touch lighter than body color */
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    transition: box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-card:hover, .faq-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.fixed-cta {
    position: fixed;
    bottom: 10%;
    right: 2%;
    background-color: #007aff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.fixed-cta:hover {
    background-color: #004d9e;
}


.testimonial {
    background-color: #002b5e;
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial p {
    font-style: italic;
    font-size: 18px;
}

.testimonial p span {
    display: block;
    font-style: normal;
    font-size: 16px;
    text-align: right;
    margin-top: 10px;
}

.social-links {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}

.social-links a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #007aff;
}

footer {
    background-image: linear-gradient(135deg, #003366 0%, #001f3f 100%); /* add some flair */
    background-color: #003366; /* Consistency with header */
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Softer shadow */

}


/* Adjustments for smaller screens */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    header {
        padding: 10px;
    }

    .nav-list li {
        margin: 5px;
    }

    .intro {
        padding: 10px;
    }

    .intro p {
        margin-bottom: 15px;
    }

    .direct-contact li {
        flex-direction: column;
        align-items: flex-start;
    }

    .direct-contact li i {
        margin-bottom: 5px;
    }
}


.nav-list a:hover {
    background-color: rgba(255, 107, 107, 0.1); /* Slight hover effect with the coral color */
}

.social-links a:hover {
    color: var(--accent-color);
}

.fixed-cta, .fixed-cta:hover {
    background-color: var(--accent-color);
    border: 2px solid white;
}

.contact-intro, .direct-contact, .contact-form {
    padding: 20px;
    margin-bottom: 20px;
    background: #002b5e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-intro p, .direct-contact h3 {
    margin-bottom: 20px;
}

.direct-contact ul {
    list-style-type: none;
    padding: 0;
}

.direct-contact li {
    margin-bottom: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.direct-contact li i {
    margin-right: 10px;
    color: #007aff;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"], textarea, input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
}

input[type="submit"] {
    background-color: #007aff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #004d9e;
}

.faq-toggle {
    cursor: pointer;
    background-color: #002b5e;
    color: #ffffff; 
    font-family: 'Open Sans', sans-serif;
    border: none;
    text-align: left;
    outline: none;
    width: 100%;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s;
    display: block; /* Ensure it takes up the full width */
}

.faq-toggle:hover {
    background-color: #003d7a;
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    padding: 0 15px;
}

.faq-item.active .faq-content {
    max-height: 1000px; /* can adjust this based on your content size */
}



@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.service-card, .faq-item, .testimonial, .contact-intro {
    opacity: 0;
    animation: fadeInUp 0.6s forwards;
    animation-delay: 0.3s;
}

/* This will stagger the animation for each card */
.service-card:nth-child(1) { animation-delay: 0.3s; }
.service-card:nth-child(2) { animation-delay: 0.5s; }
.service-card:nth-child(3) { animation-delay: 0.7s; }

.testimonial:nth-child(1) { animation-delay: 0.3s; }
.testimonial:nth-child(2) { animation-delay: 0.5s; }
.testimonial:nth-child(3) { animation-delay: 0.7s; }
.testimonial:nth-child(4) { animation-delay: 0.9s; }
.testimonial:nth-child(5) { animation-delay: 1.1s; }
.testimonial:nth-child(6) { animation-delay: 1.3s; }


.faq-toggle {
    cursor: pointer;
    background-color: #002b5e;
    color: #ffffff; 
    font-family: 'Open Sans', sans-serif;
    border: none;
    text-align: left;
    outline: none;
    width: 100%;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s;
    display: block; /* Ensure it takes up the full width */
}

.cta-button, .cta-button:hover {
    display: inline-block;
    margin-top: 10px;
    background-color: #e64a19;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-align: center; /* Center the text */
    border: none; /* Remove border for button elements */
    cursor: pointer; /* Apply a pointer cursor */
    color: #fff; /* Set text color to white */
    text-decoration: none; /* Ensure no underline */
}


/* Floating CTA Button */
.floating-cta {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001; /* Ensuring it's above other elements */
}

/* Button Styling */
.floating-cta a {
    background-color: #ff5722; /* Orange color */
    color: #fff;
    padding: 12px 24px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    transition: background-color 0.3s;
}

.floating-cta a:hover {
    background-color: #e64a19; /* Darker shade on hover */
    text-decoration: none;
}